@model IEnumerable<BDHospital.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iiddoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iidsede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iidespecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechacontrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iidpersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bhabilitado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iiddoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iidsede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iidespecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sueldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechacontrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iidpersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bhabilitado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
